<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="sesoc.global.webTest.vo.Customer" alias="Customer"/> <!-- alias는 별칭 -->
		<typeAlias type="sesoc.global.webTest.vo.Board" alias="Board"/> <!-- alias는 별칭 -->
		<typeAlias type="sesoc.global.webTest.vo.Notice" alias="Notice"/>
	</typeAliases>
  <mappers>
    <mapper resource="mappers/customerMapper.xml"/>
    <mapper resource="mappers/boardMapper.xml"/>
    <mapper resource="mappers/NoticeMapper.xml"/>
  </mappers>
</configuration>